body {
	background: url(imgs/background.png);
	font-size: 16px;
	color: white;
}

header {
	margin: 1em auto;
	color: #378CFF;
	text-align: center;
	line-height: 1.2em;
	font-family: 'Raleway', sans-serif;
}

#countdown {
	margin: 0 auto 3em auto;
	text-align: center;
}

.countdown-container {
	display: inline-block;
}

.unit {
	margin-left: 1em;
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
}

.unit:first-child {
	margin-left: 0;
}

.box {
	padding: 0.15em;
	border: 3px solid #FFDC50;
	border-radius: 10px;
	display: inline-block;
	
	color: #FFDC50;
	line-height: 0.9em;
}

.scale {
	padding-top: 3px;
	color: #378CFF;
}

footer {
	margin-bottom: 3em;
	cursor: pointer;
	color: #777;
	text-align: center;
	font-size: 12pt;
	font-family: 'Source Sans Pro', sans-serif;
}